extends layout.pug

block content
  .container
    h1= title

    if error
      p.error= error

    h2 Add a Comment
    form(action="/add-comment", method="POST")
      label(for="author") Your Name (Optional):
      input(type="text", id="author", name="author", placeholder="Anonymous")
      label(for="content") Comment:
      textarea(id="content", name="content", rows="4", placeholder="Your comment here...", required)
      input(type="submit", value="Submit Comment")

    h2 Existing Comments
    if comments.length > 0
      each comment in comments
        .comment
          .comment-author #{comment.author}
          .comment-content !{comment.content} // VULNERABILITY: Rendering user input directly without escaping
    else
      p No comments yet. Be the first to add one!